<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlog-changePassword</title>
    <link rel="icon" href="/public/img/iLogo.svg">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="main">
        <div class="container a-container">
            <form class="form" method="post" id="sure_code">
                <h2 class="form_title title">Change Password</h2>
                <input class="form__input" type="text"  id="email" placeholder="Email" name="email" >
                <input class="form__input" type="text" placeholder="Code" name="getCode">
                <input type="button"  onclick="abc()" class="btn btn-danger" id="emailCode" value="发送验证码" style="position:relative; left: 22%;bottom: 7%;background-color: #4B70E2;border: none;outline: none;">
                <input class="form__input" type="password" placeholder="New Password" name="newPassword" style="margin-top: -25px;">
                <input class="form__input" type="password" placeholder="Confirm Password" name="confirmPassword">
                <button class="form__button button submit" type="submit">Sure</button>
            </form>
        </div>
        <div class="switch switch__container">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <h2 class="switch__title title">iBlog</h2>
            <p class="switch__description description">Blog is a technology community where you can speak freely, share your experience and gain experience.</p>
        </div>
        
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>
    function abc() {
        var time = 120;//定义60秒的倒计时
        // 获取 email
        var email = document.getElementById("email").value
        if(!email){
            window.alert('请输入邮箱！')
        }else{
            //设置一个定时，一秒执行一次
            var myTime = setInterval(function () {
                subs();
            },1000)
            function subs(){
                time --;
                $('#emailCode').attr("value","请"+time+"秒后再试");
                if(time === 0){
                    clearInterval(myTime);
                    $('#emailCode').attr("value","发送验证码");
                    $('#emailCode').attr("disabled" , false);//按键可用
                } else{
                    $('#emailCode').attr("disabled" , true);//按键不可用
                }
            }
            // 发送验证码请求 
            console.log(email)
            $.ajax({
            url: '/sendChangePasswordCode',
            type: 'get',
            data: {
                email: email
            },
            success: function (data) {
                console.log(data)
                var err_code = data.err_code
                if (err_code === 0) {
                } else if (err_code === 1) {
                    window.alert(data.message)
                } else if (err_code === 2) {
                    window.alert('邮箱无效！')
					window.location.href = '/changePasswordByCode'
                } else if (err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
        }
        
    }
    //发送 email getCode newPassword confirmPassword
    $('#sure_code').on('submit', function (e) {
        e.preventDefault()                  //阻止默认事件
        var formData = $(this).serialize()  //获取表单数据
        console.log(formData)
        $.ajax({
            url: '/changePasswordByCode',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                var err_code = data.err_code
                if (err_code === 0) {
                    window.alert('修改密码成功，为您跳转登录页！')
                    window.location.replace('/login')
                } else if (err_code === 1) {
                    window.alert(data.message)
                }else if (err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
    })
</script>
</html>