{{extend './_layouts/home.html'}}

{{block 'title'}}iBlog-home{{/block}}
{{block 'head'}}
<style>
.pagination{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.blog_main{
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}
.blog_cover{
    width: 25%;
    position: absolute;
    top: 0px;
}
.post__description{
    width: 72%;
    float: right;
}
</style>
{{/block}}
{{block 'body'}}
    <main class="main">
        <div class="container">
            <div class="row" >
                <!-- {{if user}}
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="user">
                        <div class="user__head">
                            <div class="user__img">
                                <img src={{ user.avatar}} alt="">
                            </div>
                        </div>
                        <div class="user__title">
                            <h2>{{ user.nickname }}</h2>
                        </div>
                        <ul class="user__list">
                            <li><span>性别</span> <span>{{ if user.gender==0 }}女{{else if user.gender==1}}男{{else}}保密{{/if}}</span></li>
                            <li><span>生日</span> 
                                <span>
                                    {{moment(user.birthday).format('YYYY-MM-DD') }}
                                </span>
                            </li>
                            <li><span>邮箱</span> <span>{{ user.email }}</span></li>
                            <li><span>简介</span> <span></span></li>
                            <li><span></span><span>{{ if user.bio }}{{user.bio}}{{ else }}这个很懒，什么也没有留下哦...{{ /if }}</span></li>
                        </ul>
                        <ul class="user__stats">
                            <li>
                                <p>关注</p>
                                <span>{{ if user.like }}{{user.like}}{{ else }}0{{ /if }}</span>
                            </li>
                            <li>
                                <p>粉丝</p>
                                <span>{{ if user.fan }}{{user.fan}}{{ else }}0{{ /if }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                {{ else}}
                {{ /if }} -->
                <!-- 博客主体内容 -->
                <div class="col-12 col-md-7 col-lg-8 col-xl-9" style="position: relative;">
                    {{ each blogs }}
                    <!-- blog -->
                    <div class="post">
                        <div class="post__head">
                            <a href="/personalHomepage?id={{$value.author._id}}" class="post__head-img">
                                <img src={{$value.author.avatar}} alt="">
                            </a>
                            <div class="post__head-title">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                                <h5><a href="/personalHomepage?id={{$value.author._id}}">{{$value.author.nickname}}</a></h5>
                                <p>{{moment($value.time).format('YYYY-MM-DD') }}</p>
                            </div>
                        </div>
                        <div class="post__wrap">
                            <div class="post__company">
                                <i class="iconfont"></i>
                                <span>{{if $value.author.gender==0}}女{{else if $value.author.gender==1}}男{{else}}未知{{/if}}</span>
                            </div>
                            <div class="post__location">
                                <i class="iconfont"></i>
                                <span>来自陕西西安</span>
                            </div>
                            <div class="post__actions">
                                
                                <a class="post__actions-btn post__actions-btn--green" href="/detail?id={{$value._id}}">
                                    <i class="iconfont" title="详情">&#xe6dd;</i>
                                </a>
                            </div>
                        </div>
                        <h2 class="post__title">{{$value.title}}</h2>
                        <div class="blog_main" style="position: relative;">
                            
                            <img class="blog_cover" src={{$value.cover}} alt="">
                            
                            <div class="post__description">
                                <p>
                                    {{$value.content}}
                                </p>
                            </div>
                        </div>
                        
                        <div class="post__tags">
                            {{ each $value.tag}}
                            <a href="#">{{ $value }}</a>
                            {{ /each}}
                        </div>
                        <!-- <div class="post__stats">
                            <div>
                                <a class="post__likes" href="#" title="点赞"><i class="iconfont">&#xe86f;</i><span>15</span></a>
                                <a class="post__comments" title="评论" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
                                    <i class="iconfont">&#xe602;</i> 
                                    <span>0</span>
                                </a>
                            </div>
                            <div class="post__views" title="浏览量">
                                <i class="iconfont">&#xe663;</i> 
                                <span>214</span>
                            </div>
                        </div> -->

                    </div>
                    <!-- end blog -->
                    {{ /each }}

                    <nav aria-label="Page navigation" >
                        <ul class="pagination">
                            {{ if now==1}}
                            <li>
                                <a href="/?page=1" aria-label="Previous" title="已经是第一页了"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            {{else}}
                            <li>
                                <a href="/?page={{now-1}}" aria-label="Previous" ><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            {{/if}}
                            
                            {{ each pages}}
        
                            {{ if $value == now }}
                            <li class="active"><a href="/?page={{$value}}">{{$value }}</a></li>
                            {{ else }}
                            <li ><a href="/?page={{$value}}">{{$value }}</a></li>
                            {{ /if }}
        
                            {{ /each }}
        
                            {{ if now==all}}
                            <li>
                            <a href="/?page={{all}}" aria-label="Next" title="已经是最后一页了"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                            {{else}}
                            <li>
                            <a href="/?page={{now-0+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                            {{/if}}
                            <form action="/" style="display: inline-block;margin-left: 10px;">
                                &nbsp;&nbsp;跳至&nbsp;<input type="text" name="page" style="width: 30px;height:30px;border: 1px solid #ddd;outline: none;vertical-align: 6px;border-radius: 3px;text-indent: 10px;">&nbsp;页
                                <button type="submit" style="display: inline-block;vertical-align: 5px;" class=" post__actions-btn post__actions-btn--blue" ><i class="iconfont" style="font-size: 16px;">&#xe71c;</i></button>
                            </form>
                            <span style="line-height: 40px;">&nbsp;&nbsp;&nbsp;共 {{all}} 页</span>
                        </ul>
                    </nav>

                </div>

                <!-- 右边的热门博客 热门博主 -->
                <div class="col-12 col-md-5 col-lg-4 col-xl-3" style="margin-top: -10px;">
                    <!-- 热门博客 -->
                    
                    <div class="sidebox sidebox--desk">
                        <h4 class="sidebox__title">热门博客 <i class="iconfont" style="color: rgb(255, 93, 80);;">&#x1001d;</i></h4>
                        <div class="sidebox__content">
                            {{ each hotBlogsPart}}
                            <div class="sidebox__job">
                                <div class="sidebox__job-title">
                                    <a href="/detail?id={{$value.blog._id}}">{{$value.blog.title}}</a>
                                    <span style="color: #c2c7ca;font-size: 12px;"><i class="iconfont">&#xe663;</i><span style="color: #8599ab;vertical-align: 1px;"> {{ $value.views}}</span></span>
                                </div>
                                <p class="sidebox__job-description">{{$value.author.nickname}}</p>
                            </div>
                            {{ /each }}
                        </div>
                        <a href="/hot?more=blog" class="sidebox__more">查看更多</a>
                    </div>
                    
                    <!-- 热门博客 -->
                    
                    <!-- 热门博主 -->
                    <div class="sidebox sidebox--desk">
                        <h4 class="sidebox__title">热门博主<i class="iconfont" style="color: rgb(255, 93, 80);;">&#x1001d;</i></h4>
                        <div class="sidebox__content">
                            {{ each hotBloggersPart}}
                            <div class="sidebox__user">
                                <a href="/personalHomepage?id={{$value.blogger._id}}" class="sidebox__user-img">
                                    <img src="{{$value.blogger.avatar}}" alt="">
                                </a>
                                <div class="sidebox__user-title">
                                    <h5><a href="/personalHomepage?id={{$value.blogger._id}}">{{$value.blogger.nickname}}</a></h5>
                                    <p>累计发表 {{$value.num}} 篇博客</p>
                                </div>
                                
                            </div>
                            {{ /each }}
                        </div>
                        <a href="/hot?more=blogger" class="sidebox__more">查看更多</a>
                    </div>
                    <!-- 热门博主 -->
                </div>

            </div>
        </div>
    </main>    
</div>

<!-- end main content -->


{{/block}}
