{{extend './_layouts/home.html'}}

{{block 'title'}}{{'iBlog-publish'}}{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/avatar.css">
<link rel="icon" href="/public/img/iLogo.svg">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<style>
	#form_link:hover{
		text-decoration: underline;
	}
	.wrap{
	min-height: 100%;
	}
	.footer{
        display: none;
	}
    .tagActive{
        font-weight: 800;
        color:#3796f6 ;
    }
</style>
{{/block}}

{{block 'body'}}
	<!-- main content -->
	<main class="main main--breadcrumb" >
		<!-- 面包屑导航 -->
		<div class="breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="breadcrumb__wrap">
							<li class="breadcrumb__item breadcrumb__item--active"><a href="/">首页</a></li>
                            <i class="iconfont"></i>
							<li class="breadcrumb__item breadcrumb__item--active"><i class="iconfont" style="vertical-align: -1px;">&nbsp;&nbsp;&#xe707; </i>发表博客</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb -->
		<div class="container" style="margin-top: -30px;">
			<div class="row">
				<!-- <div class="col-12 col-md-5 col-lg-4 col-xl-3">
					<div class="user">
                        <div class="user__head">
                            <div class="user__img">
                                <img src={{ user.avatar}} alt="">
                            </div>
                        </div>
                        <div class="user__title">
                            <h2>{{ user.nickname }}</h2>
                        </div>
                        <ul class="user__list">
                            <li><span>性别</span> <span>{{ if user.gender==0 }}女{{else if user.gender==1}}男{{else}}保密{{/if}}</span></li>
                            <li><span>生日</span> 
                                <span>
                                {{ user.birthday.getFullYear() }}年{{ user.birthday.getMonth() + 1 }}月{{ user.birthday.getDate() }}日
                                </span>
                            </li>
                            <li><span>邮箱</span> <span>{{ user.email }}</span></li>
                            <li><span>简介</span> <span></span></li>
                            <li><span></span><span>{{ if user.bio!='' }}{{user.bio}}{{ else }}这个很懒，什么也没有留下哦...{{ /if }}</span></li>
                        </ul>
                        <ul class="user__stats">
                            <li>
                                <p>关注</p>
                                <span>{{ if user.like }}{{user.like}}{{ else }}0{{ /if }}</span>
                            </li>
                            <li>
                                <p>粉丝</p>
                                <span>{{ if user.fan }}{{user.fan}}{{ else }}0{{ /if }}</span>
                            </li>
                        </ul>
                    </div>
				</div> -->

				<div class="col-12 col-md-7 col-lg-8 col-xl-9" >
					
					<div class="tab-content" style="margin-top: 10px;">

						<div class="tab-pane active"  role="tabpanel" aria-labelledby="tab-2">
							<!-- form -->
							<form class="form" method="post" id="publish_blog" >
								<div class="row">
									<div class="col-12">
										<h2 class="form__title">New Blog</h2>
									</div>
									<div class="col-12 col-lg-6">
										<div class="form__group">
											<label for="email" class="form__label">作者邮箱:</label>
											<input name="email" id="email" type="text" class="form__input" value="{{ user.email }}" disabled style="cursor: not-allowed;color: rgb(206, 206, 206);">
										</div>
                                        <div class="form__group">
											<label for="title" class="form__label">博客标题:</label>
											<input name="title" id="blog_title" type="text" class="form__input" placeholder="title">
										</div>
                                        <div class="form__group">
                                            <label for="kind" class="form__label">博客类型：</label>
                                            <div class="" style="width: 100%;position: relative;">
                                                <i class="iconfont" style="font-size: 12px;color:rgb(194, 194, 194) ;position: absolute;right: 10%;top: 30%;cursor: pointer;">&#xe624;</i>
                                                <select name="kind"  class="form__select">
                                                    <option value="原创" selected>原创</option>
                                                    <option value="转载">转载</option>
                                                    <option value="翻译">翻译</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form__group">
											<label for="tag" class="form__label">博客标签:</label>
                                            <div>
                                                <label class="checkbox-inline checkTag ">
                                                    <input  type="checkbox" name="tag" value="Python" ><i class="iconfont">&#xe625;</i> Python
                                                </label>
                                                <label class="checkbox-inline checkTag">
                                                    <input  type="checkbox" name="tag" value="Java" ><i class="iconfont">&#xe625;</i> Java
                                                </label>
                                                <label class="checkbox-inline checkTag">
                                                    <input  type="checkbox" name="tag" value="JS" ><i class="iconfont">&#xe625;</i> JS
                                                </label>
                                            </div>
                                            <div>
                                                <label class="checkbox-inline checkTag ">
                                                    <input  type="checkbox" name="tag" value="Golang" ><i class="iconfont">&#xe625;</i> Golang
                                                </label>
                                                <label class="checkbox-inline checkTag">
                                                    <input  type="checkbox" name="tag" value="Node" ><i class="iconfont">&#xe625;</i> Node
                                                </label>
                                                <label class="checkbox-inline checkTag">
                                                    <input  type="checkbox" name="tag" value="PHP" ><i class="iconfont">&#xe625;</i> PHP
                                                </label>
                                            </div>
										</div>
									</div>
                                    <div class="col-12 col-lg-6">
										<div class="form-group">
                                            <div class="con4">
                                                <label for="cover" class="form__label">博客封面:</label><br>
                                                <label for="cover" class="form__label"><span style="font-size: 12px;color: #8599ab;font-weight: normal;"> 建议选择正方形的图片哦...</span></label>
                                                <canvas id="cvs" width="200" height="200"></canvas>
                                                <span class="btn upload" >上传封面<input type="file" class="upload_pic" id="uploadCover" name="cover" /></span>
                                            </div>
                                        </div>
									</div>
                                    <div class="col-12">
                                        <div class="form__group">
                                            <label for="content" class="form__label">博客内容：</label>
                                            <textarea name="content" id="description" class="form__textarea" ></textarea>
                                        </div>
                                    </div>
									<div class="col-12">
										<button class="form__btn" type="submit"><span>发表</span></button>
									</div>
								</div>
							</form>
							<!-- end form -->
						</div>

					</div>

				</div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
					<!-- sidebox -->
					<div class="sidebox sidebox--desk">
						<h4 class="sidebox__title">常问问题</h4>
						<div class="sidebox__content">
							<div class="sidebox__faq">
								<h5>发布博客需要付费吗？</h5>
								<p>iBlog 是一个开源社区，注册账户登录之后就可以发表博客，点赞以及评论其他用户的博客，不会进行收费活动，方便大家交流技术。</p>
							</div>
                            <div class="sidebox__faq">
								<h5>发布博客的流程？</h5>
								<p>只需将左边的内容填好然后点击发表即可。其中，标题title，博客类型kind，标签tag，内容content都是必选项。tag可以多选，之后可以在对应的标签分类专栏里查看到你发表的博客。你还可以选择一张图片作为文章封面，如果你没有选择，我们会为您添加一张默认封面。</p>
							</div>
                            <div class="sidebox__faq">
								<h5>发布博客有哪些注意事项？</h5>
								<p>除了博客封面之外都为必选项，如果出现无法发表的情况，请刷新页面尝试再次发表。</p>
							</div>
                            <div class="sidebox__faq">
								<h5>博客类型如何选择？</h5>
                                <p>博客类型分为原创，转载以及翻译，根据自己发表的博客如实选择即可。默认选项为原创类型。</p>
                            </div>
                            <div class="sidebox__faq">
								<h5>博客标签如何选择？</h5>
								<p>由于某种原因，我们的网页博客标签选择的样式无法展现，你只需要点击标签即可，若点击两次则取消标签。（奇数次选中，偶数次取消）</p>
							</div>
						</div>
						<a href="#" class="sidebox__more"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看更多</font></font></a>
					</div>
					<!-- end sidebox -->
				</div>
			</div>
		</div>

	</main>
    
	<!-- end main content -->
    <script>
        // 点击 tag 选择后样式变化
        // let tags = document.getElementsByClassName('checkTag')
        // console.log(tags)
        // for(let tag of tags){
        //     tag.onclick = function(e){
        //         e.preventDefault();
        //         console.log('点击了tag')
        //         if(tag.classList.contains('tagActive') == true){
        //             tag.classList.remove('tagActive')
        //         }else{
        //             tag.classList.add('tagActive')
        //         }
        //         console.log(tag.classList.contains('tagActive'))
        //     }
        // }
        let formDataObj = new FormData()
        //获取上传按钮
        var input1 = document.getElementById("uploadCover"); 
        if(typeof FileReader==='undefined'){ 
            //result.innerHTML = "抱歉，你的浏览器不支持 FileReader"; 
            input1.setAttribute('disabled','disabled'); 
        }else{ 
            input1.addEventListener('change',readFile,false); 
        }
        function readFile(){ 
            var file = this.files[0];//获取上传文件列表中第一个文件
            formDataObj.append('cover' , file)
            var reader = new FileReader(); //实例一个文件对象
            reader.readAsDataURL(file);    //把上传的文件转换成url
            //当文件读取成功便可以调取上传的接口
            reader.onload = function(e){ 
                var image = new Image();
                // 设置src属性 
                image.src = e.target.result;
                var max = 200;
                // 绑定load事件处理器，加载完成后执行，避免同步问题
                image.onload = function(){ 
                    // 获取 canvas DOM 对象 
                    var canvas = document.getElementById("cvs"); 
                    // 如果高度超标 宽度等比例缩放 *= 
                    // if(image.height > max) {
                    //     image.width *= max / image.height; 
                    //     image.height = max;
                    // } 
                    // 获取 canvas的 2d 环境对象, 
                    var ctx = canvas.getContext("2d"); 
                    // canvas清屏 
                    ctx.clearRect(0, 0, canvas.width, canvas.height); 
                    // 重置canvas宽高
                    /*canvas.width = image.width;
                    canvas.height = image.height;
                    if (canvas.width>max) {canvas.width = max;}*/
                    // 将图像绘制到canvas上
                    // ctx.drawImage(image, 0, 0, image.width, image.height);
                    ctx.drawImage(image, 0, 0, 200, 200);
                    // 注意，此时image没有加入到dom之中
                };  
            }
        };
        
		// 基本信息修改请求
		$('#publish_blog').on('submit', function (e) {
            e.preventDefault()  //阻止默认事件
            var formData = $(this).serializeArray()  //获取表单数据
            for(let item of formData){
                formDataObj.append(item.name , item.value)
            }
            $.ajax({
                url: '/publishBlog',
                method: 'POST',
                data: formDataObj,
                processData: false,
                contentType: false,
            }).then(function(data){
                var err_code = data.err_code
				if (err_code === 0) {
					window.alert('博客发布成功，为您跳转首页！')
					window.location.href = '/'
				} else if (err_code === 1) {
					window.alert(data.message)
                    formDataObj = new FormData()
				} else if (err_code === 500) {
					window.alert('服务器忙，请稍后重试！')
				}
            })
        })
		
    </script>

{{/block}}