{{extend './_layouts/home.html'}}

{{block 'title'}}iBlog-search{{/block}}
{{block 'head'}}
<style>
.pagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.blog_main{
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}
.blog_cover{
    width: 25%;
    position: absolute;
    top: 0px;
}
.post__description{
    width: 72%;
    float: right;
}
</style>
{{/block}}
{{block 'body'}}
    <main class="main">
        <!-- 面包屑导航 -->
        <div class="breadcrumb" style="margin-bottom: 0;margin-top: -40px;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="breadcrumb__wrap">
							<li class="breadcrumb__item breadcrumb__item--active"><a href="/">首页</a></li>
                            <i class="iconfont"></i>
                    <li class="breadcrumb__item breadcrumb__item--active"><i class="iconfont" style="vertical-align: -1px;">&nbsp;&nbsp;&#xe707; </i>{{ if Tag}}{{ Tag }}{{else}} 搜索 {{ /if}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

        <div class="container">
            <div class="row">

                <!-- 博客主体内容 -->
                <div class="col-12 col-md-7 col-lg-8 col-xl-9" style="position: relative;">
                    {{ if !Tag}}
                    <ul class="nav nav-tabs main__nav" id="main__nav" role="tablist">
						<li class="nav-item" >
							<a class="nav-link" style="font-size: 18px;font-weight: 600;line-height: 38px;">搜索内容：{{searchNav}}</a>
						</li>
					</ul>
                    {{ /if }}
                    {{ if nothingMess}}
                    <p style="text-align: center;margin-top: 100px;">抱歉，未找到与" <span style="color: #3796f6;">{{nothingMess}}</span> "相关的内容。</p>
                    {{ /if}}
                    {{ each blogs }}
                    <!-- blog -->
                    <div class="post">
                        <div class="post__head">
                            <a href="/personalHomepage?id={{$value.author._id}}" class="post__head-img">
                                <img src={{$value.author.avatar}} alt="">
                            </a>
                            <div class="post__head-title">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                                <h5><a href="/personalHomepage?id={{$value.author._id}}">{{$value.author.nickname}}</a></h5>
                                <p>{{moment($value.time).format('YYYY-MM-DD') }}</p>
                            </div>
                        </div>
                        <div class="post__wrap">
                            <div class="post__company">
                                <i class="iconfont"></i>
                                <span>{{if $value.author.gender==0}}女{{else if $value.author.gender==1}}男{{else}}未知{{/if}}</span>
                            </div>
                            <div class="post__location">
                                <i class="iconfont"></i>
                                <span>来自陕西西安</span>
                            </div>
                            <div class="post__actions">
                                
                                <a class="post__actions-btn post__actions-btn--green" href="/detail?id={{$value._id}}">
                                    <i class="iconfont" title="详情">&#xe6dd;</i>
                                </a>
                            </div>
                        </div>
                        <h2 class="post__title">{{$value.title}}</h2>
                        <div class="blog_main" style="position: relative;">
                            
                            <img class="blog_cover" src={{$value.cover}} alt="">
                            
                            <div class="post__description">
                                <p>
                                    {{$value.content}}
                                </p>
                            </div>
                        </div>
                        
                        <div class="post__tags">
                            {{ each $value.tag}}
                            <a href="#">{{ $value }}</a>
                            {{ /each}}
                        </div>

                    </div>
                    <!-- end blog -->
                    {{ /each }}

                </div>

                <!-- 右边的热门博客 热门博主 -->
                <div class="col-12 col-md-5 col-lg-4 col-xl-3" style="margin-top: -10px;">
                    <div class="sidebox sidebox--desk">
                        <h4 class="sidebox__title">热门博客</h4>
                        <div class="sidebox__content">
                            <div class="sidebox__job">
                                <div class="sidebox__job-title">
                                    <a href="#">前端开发人员</a>
                                    <span>$ 25 /小时</span>
                                </div>
                                <p class="sidebox__job-description">因此，生成的Lorem Ipsum始终没有重复。></p>
                            </div>

                        </div>
                        <a href="#" class="sidebox__more">查看更多</a>
                    </div>

                    <div class="sidebox sidebox--desk">
                        <h4 class="sidebox__title">热门博主</h4>
                        <div class="sidebox__content">
                            <div class="sidebox__user">
                                <a href="#" class="sidebox__user-img">
                                    <img src="" alt="">
                                </a>
                                <div class="sidebox__user-title">
                                    <h5><a href="#">玛莎·鲍德温（Marsha Baldwin）</a></h5>
                                    <p>秘书</p>
                                </div>
                                <button class="sidebox__user-btn" type="button">
                                    <i class="icon ion-ios-add"></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="sidebox__more">查看更多</a>
                    </div>
                </div>

            </div>
        </div>
    </main>    
</div>

<!-- end main content -->


{{/block}}
