

<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="footer__content" >
                <a href="index.html" class="header__logo" style="border-radius: 6px;background-color: #3796f6; height: 60%;color: #fff;font-weight: 700;font-size: 22px;">
                    iBlog
                </a>
                <span class="footer__copyright">©2022 iBlog<br>由 pingting_ 创建</font></span>
                <!-- <nav class="footer__nav">
                    <a href="contacts.html">联系人</a>
                    <a href="faq.html">常见问题解答</a>
                    <a href="privacy.html">隐私政策</a>
                </nav> -->
                <button class="footer__back" type="button">
                    <i class="ion-ios-arrow-round-up iconfont" style="font-size: 24px;">&#xeb0a;</i>
                </button>
            </div>
        </div>
    </div>
</div>
</footer>

